#
# These groups are read by MariaDB command-line tools
# Use it for options that affect only one utility
#

[mysql]
no-auto-rehash

[mysql_upgrade]

[mysqladmin]

[mysqlbinlog]

[mysqlcheck]
key_buffer = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[mysqldump]
quick
max_allowed_packet = 32M

[mysqlimport]

[mysqlshow]

[mysqlslap]
