#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
port = 3306
socket = /run/mysqld/mysqld.sock
bind-address = 127.0.0.1
datadir = /var/lib/mysql/data/
#log = /var/log/mysqld.log
#log-error  = /var/log/mysqld-error.log
#slow_query_log_file = /var/log/mysqld-slow-queries.log

skip-external-locking
max_connections = 256

# myisam
key_buffer_size = 16M
join_buffer_size = 1M
#max_allowed_packet = 10M
query_cache_size = 128M
query_cache_limit = 2M
tmp_table_size = 256M
max_heap_table_size = 256M
ft_min_word_len = 2
thread_cache_size = 4

# innodb
innodb_data_file_path = ibdata1:100M:autoextend
innodb_file_per_table
innodb_buffer_pool_size = 12G
innodb_buffer_pool_instances = 12
innodb_log_file_size = 256M
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_ft_min_token_size=2

# log-slow-queries
#slow-query-log
#long-query-time = 1
#log-queries-not-using-indexes

#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.4 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.4]

